*.gem
*.rbc
.bundle
.config
coverage
InstalledFiles
lib/bundler/man
pkg
rdoc
spec/reports
test/tmp
test/version_tmp
tmp

# YARD artifacts
.yardoc
_yardoc
doc/
Gemfile.lock
README.NOW
a test directory/
archived.txt
bug
column.rb
gemenv.txt
index.html
log.txt
oldlib/
tada.txt
todo
todo.notes
